
#regis{
    background-color: #4caf50;
    color: #ffffff;
}

#cancel{
    background-color: #f44336;
    color: #ffffff;
}

#your-info{
    text-align: center;
    font-weight: Bold;
    font-size: 27px;
}

#regis-title{
    text-align: center;
    font-weight: Bold;
    font-size: 27px;
}


